.container {
  section {
    height: 100vh;
  }
  
  .page2{
    height:auto;
  }
}

.page1 {
  align-content: center;

  .content-wrap{
    padding-left: 7%;

    h1{
    font-size: 5.5rem;
    color: rgb(44, 44, 44);
  }
  
  p{
    margin-top: 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(71, 71, 71);
    }
  }
}

.page2 {  
  /* background-image: url(/src/assets/images/portfolio_image.png); */
  background-color: rgb(244, 250, 255);
  background-repeat: no-repeat ;
  background-position: center;
  background-attachment: fixed;

  h2{
    padding: 5% 0 0 10%;
    font-size: 3rem;
    color: rgb(44, 44, 44);
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    justify-items: center;
    padding: 5% 10%;
  }

  li {
    width: 35vw;
    

    .img-wrap {
      border-radius: 20px;
      box-shadow: 3px 3px 12px rgb(41, 62, 107);
      width: 35vw;
      height: 25vw;
      overflow: hidden;

      :hover{
        transform: scale(105%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }

    .text-wrap{
      display: flex;
      flex-flow: column;
      padding-left: 15px;
      
      .title{
      padding: 2rem 0 1rem 0;
      font-size: 2rem;
      font-weight: 700;
      color: rgb(85, 85, 85);     
      }

      .term{
      font-size: 1.5rem;
      font-weight: 500;
      color: rgb(132, 132, 132);
      }
    }
  }
}


footer{
  background: rgb(245, 245, 245);
height: 100px;

justify-items: center;
align-content: center;

  p{
  color: rgb(91, 91, 91);
  }
}

/* 모바일 미디어쿼리 (767px) */
@media (width < 767px) {
.page1 {
  .content-wrap{
    padding: 0 7% 0 7%;

    h1{
    font-size: 4rem;
    color: rgb(44, 44, 44);
  }
  
  p{
    margin-top: 5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    }
  }
}

.page2 {  
  /* background-image: url(/src/assets/images/portfolio_image.png); */
  background-color: rgb(244, 250, 255);
  background-repeat: no-repeat ;
  background-position: center;
  background-attachment: fixed;
  justify-items: center;

  h2{
    font-size: 3rem;
    padding: 10%;
    color: rgb(44, 44, 44);
  }
  
  ul {
    grid-template-columns: repeat(1, auto);
    row-gap: 40px;
    justify-items: center;
    padding: 0 5%;
  }

  li {
    width: 100%;
    margin-bottom: 10%;

    .img-wrap {
      border-radius: 20px;
      box-shadow: 3px 3px 12px rgb(41, 62, 107);
      width: 100%;
      height: 30vh;
      

      overflow: hidden;

      :hover{
        transform: scale(105%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }

    .text-wrap{
      display: flex;
      flex-flow: column;
      padding-left: 15px;
      
      .title{
      padding: 1.5rem 0 1rem 0;
      font-size: 2rem;
      font-weight: 700;
      color: rgb(85, 85, 85);     
      }

      .term{
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
      color: rgb(132, 132, 132);
      }
    }
  }
}


footer{
  background: rgb(245, 245, 245);
  height: 100px; 
  padding: 0 2rem;

  justify-items: center;
  align-content: center;

  p{
  color: rgb(91, 91, 91);
  font-size: 0.7rem;
  }
}
    }